body {
  background-color: #e7eb73;
  font-family: "Lucida Console", Courier, monospace;
  margin-top: auto;
  margin-left: auto;
  width: auto;
}

canvas {
  background-color: white;
  float: left;
}

.text {
  margin-left: 0;
  margin-right: 50px;
  float: right;
}
